@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<main>
    <div class="title">
        Bem-vindo a app to do
    </div>

    <div class="form">
        <div>
            <input class="input" id="email-ou-username" type="text" placeholder="E-mail ou Username">
        </div>
        <div>
            <input class="input" id="senha" type="password" placeholder="Digite sua senha...">
        </div>
        <div>
            <button class="button" onclick="fazerLogin()" id="btn-entrar">Entrar</button>
        </div>
    </div>

    <div>
        <div>
            <a href="cadastro.html">Novo por aqui? Cadastrar-se!</a>
        </div>
    </div>
</main>
<footer>
</footer>